/input
/build
/autom4te.cache
/config.h
/aclocal.m4
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/depcomp
/install-sh
/Makefile
/Makefile.am
/Makefile.in
/missing
/stamp-h1
/.autotools
/.deps
/.project
/.cproject
/.settings
/*.o
/gsvm
/gsvmcheck
